body {
  font-family: sans-serif;
}

header {
  background-color: gray;
  display: flex;
  /* justify-content: space-between; */
  padding: 10px 0 10px 0;
}

.figimg {
  margin-top: 35px;
}

/* header h1 {
    background-color: rgb(30, 165, 228);
} */

nav {
  height: 80px;
  width: 100%;
}

/* h1 {
    color: white;
    font-size: 40px;
    font-weight:60%;
    margin: 0px;
    padding: 0px 25px 0px 75px;
} */

.portfolio-name {
  display: flex;
  flex-direction: row;
  line-height: 80px;
  color: white;
  font-size: 40px;
  margin: 0px;
  padding: 0px 25px 0px 75px;
  background-color: rgb(30, 165, 228);
}

nav ul {
  float: right;
  margin-right: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  /* border: rgb(0, 255, 34) 1px solid; */
  list-style-type: none;
}

nav ul li {
  margin-left: 15px;
  margin: 15px;
  /* border: blue 1px solid;      */
}

nav ul li a {
  color: aquamarine;
  font-size: 20px;
  text-decoration: none;
  border-bottom: aquamarine 3px solid;
  padding: 0px 6px 0px 6px;
}

section {
  display: flex;
}

section article {
  display: flex;
  width: 80%;
  align-items: center;
}

section .header {
  border-right: 5px solid black;
  width: 20%;
  margin: 20px 20px 20px 0px;
  padding-right: 15px;
}

section div h2 {
  width: 100%;
  font-size: 50px;
  color: darkblue;
  text-align: right;
  margin: 0px;
}

.image-section {
  width: 80%;
  display: flex;
  /* flex-wrap: wrap; */
  /* justify-content: space-between; */
}

/* figcaption {
    position: absolute;
    bottom: 50px;
    border: black 3px solid;
    background-color: orange;
    display: inline-block;
    height: 75px;
    display: flex;
    align-self: flex-end;
} */

figcaption {
  top: 28px;
  left: -5px;
  font-size: 24px;
  font-weight: 500;
}

#background-image {
  background-image: url("./Images/adult\ swim.jpeg");
  height: 200px;
  background-size: cover;
  background-repeat: no-repeat;
  justify-content: flex-end;
  display: flex;
  align-items: flex-end;
}

#background-image h2 {
  width: 225px;
  margin-right: 50px;
  background-color: aquamarine;
}

.image-section {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  /* justify-content: space-between; */
}

.image-section2 {
  /* position: absolute; */
  /* width: 10%;
    height: 10%; */
  /* width: 80%; */
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  color: blue;
}

.projects {
  width: 500px;
  height: 300px;
  margin-bottom: 10px;
  /* position: relative; */
  margin-right: 50px;
}

.main-project {
  width: 100%;
  height: 500px;
  margin-bottom: 20px;
  /* position: relative; */
}

.footer-section {
  display: flex;
  width: 80%;
}

.footer-section ul {
  display: flex;
  list-style-type: none;
  /* border: rgb(111, 0, 255) 2px solid; */
  align-items: center;
  justify-content: space-around;
  width: 80%;
}

@media screen and (max-width: 992px) {
  .main-project {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  body {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  header {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  header h1 {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  nav {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  nav ul li a {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  .footer-section {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
  .footer-section ul {
    width: 100%;
    height: 300px;
    margin-bottom: 10px;
  }
}
